<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Albert Berkman, veebiprogrammeerimine 2023</title>
	<script src="first.js" defer></script>
</head>
<body>
	<img src="/banner/banner.png" alt="veebiprogrammeerimise kursuse banner">
	<h1>Eesti film</h1>
	<ul>
		<li><a href="/eestifilm">Eesti filmide avaleht</a></li>
		<li><a href="/">Avalehele</a></li>
	</ul>
	<hr>
	<h2>Lisa näitleja</h2>
	<form method="POST">
		<label for="filmdPersonInput">Filmitehelane</label>
		<select name="filmdPersonInput" id="filmPersonInput">
			<option value="0">Vali filmitegelane</option>
			<option value="1">Pärdik</option>
			<option value="2">Elevant</option>
		</select>
		
		<label for="filmInput">Film</label>
		<select name="filmdPersonInput" id="filmPersonInput">
			<option value="0">Vali film</option>
			<option value="1">Pärdik</option>
			<option value="2">Elevant</option>
		</select>
	
		<br>
		<input type ="submit" name="personSubmit" value="Salvesta">
	</form>
	<p><%= locals.notice %></p>
</body>
</html>