<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Albert Berkman, veebiprogrammeerimine 2023</title>
	<script src="first.js" defer></script>
</head>
<body>
	<img src="/banner/banner.png" alt="veebiprogrammeerimise kursuse banner">
	<h1>Albert Berkman</h1>
	<p>See leht on loodud <a href="https://www.tlu.ee" target="_blank">TLÜ</a> Digitehnoloogiate instituudis õppetöö raames! Ma lisasin siia asju juurde jeeee!</p>
	<p id="output">Tänane aasta on 2023</p>
	<hr>
	<p>Kursus, mille raames leht tehti on: veebiprogrammeerimine. </p>
	<hr>
	<ul>
		<li><a href="/timenow">Praegune hetk</a></li>
		<li><a href="/wisdom">Vanasõnad</a></li>
		<li><a href="/eestifilm">Eestifilm</a></li>
		<li><a href="/logdata">Faili lugemine</a></li>
	</ul>
	<hr>
</body>
</html>